body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
}

h1 {
    font-style: italic;
    color: navy;
}

.removed {
    display: none;
}

.invisible {
    opacity: 0.2;
}

.camView {
    position: relative;
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    cursor: pointer;
}

.camView p {
    position: absolute;
    padding: 5px;
    background-color: rgba(255, 111, 0, 0.85);
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
}

.highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
}



/* Style pour le conteneur du sélecteur de caméra */
#cameraSelection {
    margin-bottom: 20px;
}

/* Style pour le label du sélecteur de caméra */
#cameraSelection label {
    font-size: 16px;
    font-weight: bold;
}

/* Style pour le sélecteur de caméra lui-même */
#cameraSelect {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

/* Style pour les options du sélecteur de caméra */
#cameraSelect option {
    padding: 5px;
}

/* Style pour le bouton "Autoriser la caméra" */
#webcamButton {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
        background-color: #007bff;
        color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#webcamButton:hover {
    background-color: #0056b3;
}
